In [1]:
import numpy as np

In [244]:
names=np.array(['Bob','Mary','Joe','Bob','Will'])

In [7]:
names=='Bob'

array([ True, False, False,  True, False])

In [12]:
data=np.random.randn(5,4)
data

array([[-0.3288388 , -1.15751821,  0.95479388, -1.69208446],
       [ 0.71526283, -0.27196182,  1.75132972, -0.72046216],
       [ 0.06219214, -0.83244764, -0.07865933, -0.18556655],
       [ 0.10492566,  0.82650793,  0.15047368,  0.76419465],
       [-0.19252283, -0.12085959,  1.37814441,  0.98282209]])

In [15]:
data[names=='Bob',2:] #2번 인덱스 열부터

array([[ 0.95479388, -1.69208446],
       [ 0.15047368,  0.76419465]])

In [16]:
data[names=='Bob',3] #3번 인덱스 열 데이터만

array([-1.69208446,  0.76419465])

In [18]:
~(names=='Bob') # ~(조건) => 조건의 반대

array([False,  True,  True, False,  True])

In [21]:
cond=names=='Bob'
data[~cond]

array([[ 0.71526283, -0.27196182,  1.75132972, -0.72046216],
       [ 0.06219214, -0.83244764, -0.07865933, -0.18556655],
       [-0.19252283, -0.12085959,  1.37814441,  0.98282209]])

조건을 변수에 넣고 변수를 인덱스처럼 취급하기

In [245]:
(names=='Bob')|(names=='Will') #조건 여러개면 괄호

array([ True, False, False,  True,  True])

In [25]:
data[data<0]

array([-0.3288388 , -1.15751821, -1.69208446, -0.27196182, -0.72046216,
       -0.83244764, -0.07865933, -0.18556655, -0.19252283, -0.12085959])

In [27]:
arr=np.zeros((8,4))
for i in range(8):
    arr[i]=i+10
arr

array([[10., 10., 10., 10.],
       [11., 11., 11., 11.],
       [12., 12., 12., 12.],
       [13., 13., 13., 13.],
       [14., 14., 14., 14.],
       [15., 15., 15., 15.],
       [16., 16., 16., 16.],
       [17., 17., 17., 17.]])

In [256]:
ar2=np.arange(10,16).reshape(2,3)
ar2[1,2]
ar2[[0,1]]

array([[10, 11, 12],
       [13, 14, 15]])

In [31]:
arr[[4,5]] #4행과 5행 추출
arr[4,3] #4행 3열 추출

14.0

In [41]:
arr=np.arange(10,42).reshape(8,4)
arr[[1,5,7,2]] #1,5,7,2 행 추출

array([[14, 15, 16, 17],
       [30, 31, 32, 33],
       [38, 39, 40, 41],
       [18, 19, 20, 21]])

In [43]:
arr[[1,5,7,2],[0,3,1,2]] #각 행의 추출할 열 값 따로 입력하여 하나의 벡터값으로 추출

array([14, 33, 39, 20])

In [44]:
arr[[1,5,7,2]][:,[0,3,1,2]] #각 행의 추출할 열 순서 정하기

array([[14, 17, 15, 16],
       [30, 33, 31, 32],
       [38, 41, 39, 40],
       [18, 21, 19, 20]])

In [47]:
arr=np.arange(15).reshape((3,5))
arr.T  #행,열 바꾸기

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [266]:
data=np.array([[1,2],[4,5]])
data*data

array([[ 1,  4],
       [16, 25]])

In [50]:
#행렬곱
np.dot(arr,arr.T) #3행 5열 * 5행 3열 => 3행 3열

array([[ 30,  80, 130],
       [ 80, 255, 430],
       [130, 430, 730]])

In [53]:
arr=np.arange(5)
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ])

In [54]:
np.exp(arr)

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [56]:
np.maximum(x,y) #x,y 배열의 두 요소 중 큰 값 리턴
np.minimum(x,y) #x,y 배열의 두 요소 중 작은 값 리턴

In [58]:
np.modf(arr) #정수, 실수 분리해서 array 두 개인 튜플로 리턴

(array([0., 0., 0., 0., 0.]), array([0., 1., 2., 3., 4.]))

In [59]:
remainder, whole_part=np.modf(arr) #각 array를 변수에 넣기

In [268]:
points=np.arange(1,5,1)

In [269]:
xs,ys=np.meshgrid(points,points)

np.meshgrid() : 두 개의 1차원 배열을 입력받아서 가능한 모든 (x,y) 2차원 배열 2개 리턴

In [270]:
xs.shape

(4, 4)

In [271]:
z=np.sqrt(xs**2+ys**2)
z

array([[1.41421356, 2.23606798, 3.16227766, 4.12310563],
       [2.23606798, 2.82842712, 3.60555128, 4.47213595],
       [3.16227766, 3.60555128, 4.24264069, 5.        ],
       [4.12310563, 4.47213595, 5.        , 5.65685425]])

In [276]:
x=np.arange(3)
y=np.arange(5)
xx,yy=np.meshgrid(x,y)

In [277]:
[list(zip(x,y)) for x,y in zip(xx,yy)]

TypeError: 'list' object is not callable

In [279]:
xarr=np.arange(1,6,1)
yarr=np.arange(11,16,1)

In [280]:
cond=np.array([True,False,True,True,False])

In [281]:
[x if c else y for x,y,c in zip(xarr,yarr,cond)]

[1, 12, 3, 4, 15]

In [282]:
np.where(cond, xarr, yarr) #넘파이 조건식(ifelse)

array([ 1, 12,  3,  4, 15])

In [283]:
ary=np.random.randn(4,4)
np.where(ary>1,1,0)

array([[0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [102]:
ary.mean() #np.mean(ary)

0.20537083797982844

In [103]:
ary.sum() #np.sum(ary)

3.285933407677255

In [105]:
ary.mean(axis=1) #y축 방향으로

array([ 0.02583213,  0.94500447, -0.31756186,  0.16820861])

In [110]:
arr=np.arange(1,8)
arr.cumsum() #누적합

array([ 1,  3,  6, 10, 15, 21, 28], dtype=int32)

In [111]:
arr.cumprod() #누적곱 이경우 7!

array([   1,    2,    6,   24,  120,  720, 5040], dtype=int32)

In [115]:
arr=np.arange(1,10).reshape(3,3)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [123]:
arr.cumsum()

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [124]:
arr.cumsum(axis=0) #행방향?

array([[ 1,  2,  3],
       [ 5,  7,  9],
       [12, 15, 18]], dtype=int32)

In [125]:
arr.cumsum(axis=1)

array([[ 1,  3,  6],
       [ 4,  9, 15],
       [ 7, 15, 24]], dtype=int32)

In [130]:
arr=np.random.randn(10)
(arr>0).sum() #양수의 개수
arr[arr>0].sum() #양수의 합

5.6866833263036

In [132]:
arr.sort() #열 방향으로 오름차순 정렬
arr

array([-2.32030225, -1.21315327, -0.59605921, -0.49550895, -0.417804  ,
       -0.28590568,  0.06637765,  1.14121442,  2.02879394,  2.45029731])

In [137]:
np.random.seed(1111)
arr=np.random.randn(4,3)
arr.sort()
arr.sort(axis=0) #행 방향으로 오름차순 정렬
arr

array([[-0.68118592,  0.07585637,  0.18513505],
       [-0.59615759,  0.07935512,  0.42466742],
       [-0.56557263,  0.09471364,  0.44047053],
       [-0.16534644,  0.36804797,  1.49874197]])

내림차순은?

In [143]:
arr=np.array([4,1,7,5,9])
arr.sort() #np.sort(arr)
arr[::-1]

array([9, 7, 5, 4, 1])

문자형,범주형의 정렬

In [287]:
names=np.array(['Bob','Mary','Joe','Bob','Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Mary'], dtype='<U4')

In [288]:
sorted(set(names)) #종류별로 정렬

['Bob', 'Joe', 'Mary']

In [150]:
arr=np.array([6,3,2,5,6,4,4])
np.in1d(arr,[2,3,6]) #arr의 요소가 [2,3,6]중에 포함되어 있는지

array([ True,  True,  True, False,  True, False, False])

In [295]:
a=np.arange(6).reshape(2,3)
len(a) #행의 개수
len(a[0]) #열의 개수
np.shape(a)[1]

3

In [159]:
d=np.arange(24).reshape(2,3,4)
len(d)

2

In [160]:
len(d[0])

3

In [161]:
len(d[0][0])

4

In [162]:
d.ndim

3

In [164]:
d[-1][-1][-1]

23

In [170]:
d.flatten() #일차원으로 펼치기
d.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [173]:
x=np.arange(5)
x[:,np.newaxis] #각 행을 하나의 열로

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [175]:
#행의 수가 같은 배열을 옆으로 연결(열 결합)
a=np.ones((2,3))
b=np.zeros((2,2))

In [178]:
np.hstack([a,b])

array([[1., 1., 1., 0., 0.],
       [1., 1., 1., 0., 0.]])

In [290]:
#열의 수가 같은 배열을 위아래로 연결(행 결합)
a=np.ones((2,4))
b=np.zeros((3,4))

In [291]:
np.vstack([a,b])

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [294]:
#tile : 동일한 배열 반복하여 연결
np.tile(a,2)
np.tile(a,(3,1)) #위아래 방향으로 3번, 좌우방향으로 2번 반복

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [190]:
#기술통계
x=np.arange(10)
len(x)
np.mean(x)
np.var(x)
np.std(x)
np.median(x)
np.percentile(x,25) #0=최소, 25=1사분위수...

2.25

In [187]:
x=np.arange(10)
np.random.shuffle(x)
x

array([4, 9, 8, 7, 5, 0, 2, 3, 6, 1])

In [198]:
#np.random.choice(배열, 개수, 복원, 확률)
np.random.choice(x,4,replace=False)
np.random.choice(5,3,p=[0.1,0.1,0.2,0.05,0.55],replace=False)

array([4, 2, 0])

In [206]:
np.random.randint(5,10,3) #from, to, size

array([9, 9, 5])

In [208]:
idx,cnt=np.unique([1,3,5,6,3],return_counts=True) #각 개수도 세줌

In [209]:
#다른 방법 : 주사위를 던져서 나온 수 집합
np.bincount([1,1,3,3,5], minlength=7) #0~6까지 숫자들이 나온 횟수 세준다

array([0, 2, 0, 2, 0, 1, 0], dtype=int64)

In [216]:
np.random.seed(123)
np.random.choice(46,10,replace=False)

array([ 8, 11, 27, 30, 18, 13, 24, 10,  5,  1])

In [196]:
from sklearn.datasets import load_iris

In [197]:
iris=load_iris()

In [198]:
iris.data[0,:] #유클리디안 거리 기반으로 다음 데이터와 가장 유사한 꽃 데이터 출력

array([5.1, 3.5, 1.4, 0.2])

In [226]:
z=iris.data[0,:]

In [232]:
dist=np.sqrt(np.sum(np.power(iris.data[1:,:]-z,2),axis=1))

In [241]:
idx=np.argmin(dist)
iris.data[idx+1,:]

array([5.1, 3.5, 1.4, 0.3])

In [242]:
np.min(dist)

0.09999999999999998

In [1]:
d=input('정수: ')
if int(d)>0:
    print('양수')
elif int(d)<0:
    print('음수')
else:
    print('0')

정수: 3
양수

In [25]:
a='hello'
n=list(range(4))
for i in range(len(n)):
    print(a*n[i])

hello
hellohello
hellohellohello

In [16]:
list(range(9,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
li=[2,4,6,8,10]
list=[]
for i in range(len(li)-1,-1,-1):
    list.append(li[i])
print(list)

[10, 8, 6, 4, 2]

In [38]:
li=[2,4,6,8,10]
for i in range(len(li)):
    print(i,li[len(li)-i-1])

0 10
1 8
2 6
3 4
4 2

In [45]:
ns = [1, 3, 5, 1, 3, 5, 1, 3, 5]
ans=[]
for i in ns:
    if i not in ans:
        ans.append(i)
ans

[1, 3, 5]

In [76]:
import numpy as np
np.random.seed(1234)
arr=np.random.randn(5,6)
arr

array([[ 4.71435164e-01, -1.19097569e+00,  1.43270697e+00,
        -3.12651896e-01, -7.20588733e-01,  8.87162940e-01],
       [ 8.59588414e-01, -6.36523504e-01,  1.56963721e-02,
        -2.24268495e+00,  1.15003572e+00,  9.91946022e-01],
       [ 9.53324128e-01, -2.02125482e+00, -3.34077366e-01,
         2.11836468e-03,  4.05453412e-01,  2.89091941e-01],
       [ 1.32115819e+00, -1.54690555e+00, -2.02646325e-01,
        -6.55969344e-01,  1.93421376e-01,  5.53438911e-01],
       [ 1.31815155e+00, -4.69305285e-01,  6.75554085e-01,
        -1.81702723e+00, -1.83108540e-01,  1.05896919e+00]])

In [81]:
arr.max()
arr.sum(axis=0)
arr.max(axis=0)
arr.mean(axis=1)
arr.min(axis=1)

array([-1.19097569, -2.24268495, -2.02125482, -1.54690555, -1.81702723])

In [83]:
m = np.array([[ 0,  1,  2,  3,  4],
            [ 5,  6,  7,  8,  9],
            [10, 11, 12, 13, 14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [103]:
np.where(m==7)
np.where(m==14)
m[1,1:3]
m[1:3,2]
m[:2,3:]

array([[3, 4],
       [8, 9]])

In [121]:
a=np.zeros((3,3))
b=np.ones((3,2))
c=np.hstack([a,b])
d=np.arange(10,151,10).reshape(3,5)
e=np.vstack([c,d])
np.tile(e,(2,1))

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

In [122]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
             11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [132]:
x[x%3==0]
x[x%4==1]
x[(x%3==0)&(x%4==1)]

array([9])

In [253]:
import random
li=[]
for i in range(10):
    li.append(random.randint(0,1))
li

[0, 1, 0, 0, 0, 1, 0, 1, 0, 0]

In [194]:
import random
li=[]
for i in range(100):
    li.append(random.randint(1,6))
np.mean(li)

3.13

In [252]:
np.random.seed(111)
a=np.random.randint(1,7,size=100)
np.mean(a)

3.64

In [178]:
score=np.array([[  1,    2,    3,    4],
       [ 46,   99,  100,   71],
       [ 81,   59,   90,  100]])
score

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [190]:
s=score[1,:] #영어성적
idx=np.argsort(-s) #내림차순으로 인덱스 반환
score[:,idx] #인덱스로 정렬

array([[  3,   2,   4,   1],
       [100,  99,  71,  46],
       [ 90,  59, 100,  81]])

array([[  3,   2,   4,   1],
       [100,  99,  71,  46],
       [ 90,  59, 100,  81]])

In [243]:
__import__('keyword').kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']